html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(58, 58, 58)
}

body {
  margin: 0;
}

#container {
  display: flex;
  height: 100vh;
  width: 100%;
}

#background-section {
  background-image: url("img/background.jpg");
  width: 100%; 
  flex: 0 0 35%;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

/* The ODIN logo */
#logo-container {
  background-color: rgba(0,0,0,0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  /* Push it to about 1/3 height */
  margin-top: 20vh;

  height: 10rem;
}

#logo-container h2 {
  color: white;
  font-size: 4rem;
  font-weight: 400;
}

#logo {
  /* display: block; */
  /* width: auto;
  height: auto; */

  /* As big as the parent */
  max-height: 90%;
}

.caption {
  color: white;
  text-align: center;
  text-shadow: 2px 2px black;
}

#form-section {
  background-color: rgba(243, 243, 243, 0.6);
  width: 100%;
}

#header-text {
  padding-top: 100px;
}

#form-section h2 {
  margin: 50px;
  width: 80%;
}

#form {
  background-color: white;
  padding-left: 50px;
  padding-bottom: 50px;

  box-shadow: 0px 2px 16px -10px black;

}

form h3 {
  color: rgb(132, 132, 132);

  padding-top: 1rem;
  margin-bottom: 1.4rem;
}

label {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: rgba(0,0,0,0.8);
  letter-spacing: 0.1rem;

  margin-bottom: 0.2rem;
}

.form-input {
  display: flex;
  flex-direction: column;
}

input {
  height: 1.6rem; 
  width: 20rem;

  border-radius: 6px;
  border: 1px solid rgb(207, 204, 204);

  padding-left: 0.6rem;
}

#input-columns {
  display: flex;
  gap: 4rem;
}

#input-col {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

button {
  margin-left: 50px;
  margin-top: 40px;

  padding: 1rem 3rem;  

  color: white;
  font-size: 1.1rem;
  font-weight: 600;

  background-color: rgba(37, 87, 3, 0.822);

  border-style: none;
  border-radius: 8px;

  box-shadow: 3px 3px 10px rgb(63, 63, 63);
}

#form-section p {
  margin-top: 40px;
  margin-left: 50px;
}

a {
  color: rgba(37, 87, 3, 0.822);
  text-decoration: none;
  font-weight: 600;
}