html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}

#container {
  display: flex;
  height: 100vh;
}

#background {
  background-image: url("img/background.jpg");
}

#logo-container {
  background-color: antiquewhite;
  width: 2rem;
}

#logo-container h2 {
  color: white;
}

#logo {
  width: 10rem;
  height: 10rem;
}
